[Unit]
Description=Kubernetes Kube Proxy Server
Documentation=https://github.com/kubernetes/kubernetes
After=network.target
Requires=network.service

[Service]
WorkingDirectory=/var/lib/kubelet
EnvironmentFile=/etc/kubernetes/proxy
ExecStart=/usr/kubernetes/bin/kube-proxy $KUBELET_PROXY_ARGS
Restart=on-failure
Type=notify

[Install]
WantedBy=multi-user.target