[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=/etc/kubernetes/apiserver
ExecStart=/usr/kubernetes/bin/kube-apiserver $KUBE_API_ARGS
Restart=on-failure
Type=notify

[Install]
WantedBy=multi-user.target